.outer-container {
    margin-top: 4rem;
    width: 30%;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;


}

.outer {
    border: 3px solid blue;
}

.container {
    position: relative;
    width: 100%;
    background-color: #262626;
    padding: 1rem;



    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container:hover .aciklama {
 
    transform: translateY(0%);
    display: block;

}

img {
    width: 100%;
    height: 300px;
    border-radius: 8px;

}

.aa {
    display: flex;
    justify-content: center;
    align-items: center;
}



.aciklama {
    height: 320px;
    color: white;
    position: absolute;
    
    
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding: 1rem;
    transform: translateY(100%);
    z-index: 1;
    transition: transform 0.7s ease-in-out;

}

.baslık {
    color: white;
    margin-top: 1rem;
}