@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;

}
body {
    background-color: rgb(170, 211, 211);   
}
.outer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
}


